<div class="resume">
  
  <div class="col-span-2 row-span-2 border-r-2 border-slate-300 pr-4">
    <div>
      <h1 class="text-4xl mb-4">{{data.contact.name}}</h1>
      <h2>
        {{data.contact.title}}<br>
        <span class="text-base text-slate-600">{{data.contact.location}}</span>
      </h2>
      <p></p>
    </div>
    <div>
      {% if data.contact.phone %}
        <div class="flex items-center">
          <img alt="phone" class="object-contain h-5 w-5" 
            src="/assets/icons/resume/slate-600/phone-mobile.svg">
          <span class="ml-2">{{data.contact.phone}}</span>
        </div>
      {% endif %}
      {% if data.contact.email %}
        <div class="flex items-center">
          <img alt="email" class="object-contain h-5 w-5" 
            src="/assets/icons/resume/slate-600/mail-at.svg">
          <span class="ml-2">{{data.contact.email}}</span>
        </div>
      {% endif %}
      <a class="flex items-center" href="{{data.contact.website}}">
        <img alt="website" class="object-contain h-5 w-5" 
          src="/assets/icons/resume/slate-600/globe-web.svg">
        <span class="ml-2">{{data.contact.website | remove: "https://"}}</span>
      </a>
      <a class="flex items-center" href="{{data.contact.github}}">
        <img alt="github" class="object-contain h-5 w-5" 
          src="/assets/icons/resume/slate-600/github.svg">
        <span class="ml-2">{{data.contact.github | remove: "https://"}}</span>
      </a>
      <a class="flex items-center" href="{{data.contact.linkedin}}">
        <img alt="linkedin" class="object-contain h-5 w-5" 
          src="/assets/icons/resume/slate-600/linkedin.svg">
        <span class="ml-2">{{data.contact.linkedin | remove: "https://"}}</span>
      </a>
    </div>
  </div>

  <div class="col-span-3 row-span-2 pl-4">
    <h2>Summary</h2>
    <p>{{data.summary}}</p>
  </div>

  <div class="col-span-2 row-span-3 border-t-2 border-r-2 border-slate-300 pr-4">
    <h2>Skills</h2>
    <ul class="flex flex-wrap">
      {% for skill in data.skills %} 
      <li class="my-1 mr-2 py-1 px-2 border-2 border-slate-300 rounded-xl">{{skill}}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-span-3 row-span-6 border-t-2 border-slate-300 pl-4">
    <h2>Experience</h2>
    {% for item in data.experience %} 
      <div class="mb-4">
        <div class="mb-4">
          <h3>{{item.role}}<br>{{item.company}}</h3>
          <p>{{item.dates}}</p>
          <p class="text-slate-600">{{item.location}}</p>
        </div>
        <ul class="px-4">
        {% for point in item.achievements %} 
          <li class="mb-2 flex">
            <div class="mr-2 text-slate-600">&#x2022</div>
            <div>{{point}}</div>
          </li>
        {% endfor %}
      </ul>
      </div>
      
    {% endfor %}
  </div>

  <div class="col-span-2 row-span-3 border-t-2 border-r-2 border-slate-300 pr-4">
    <h2>Education</h2>
    {% for item in data.education %} 
    <div class="mb-4">
      <h3>{{item.school}}</h3>
      <p>{{item.program}}</p>
      <p>{{item.dates}}</p>
      <p>Grade: {{item.grade}}</p>
    </div>
    {% endfor %}
  </div>

</div>
