---
  layout: base
---

<article>

  <div class="section bg-green-100">

    <h1 class="text-4xl mb-2">{{ title }}</h1>

    <div>
      <span>Posted: {{ date_posted | date }}</span>
    </div>

    {% if date_edited %}
      <div>
        <span>edited: {{ date_edited | date }}</span>
      </div>
    {% endif %}

    {% if description %}
      <p class="text-xl opacity-80 mt-2">{{description}}</p>
    {% endif %}

  </div>

  <div class="break"></div>

  <div class="section prose bg-blue-50">{{ content }}</div>

</article>